exportPattern("^[[:alpha:]]+")

import(stats)
import(graphics)
import(grDevices)

import(data.table)
import(FNN)
import(kernlab)

importFrom("data.table", "data.table", "rbindlist", "setDF")

importFrom("FNN", "knn")

importFrom("kernlab", "ksvm", "rbfdot", "polydot", "tanhdot")

importFrom("matrixStats", "colMads", "colMedians", "colMins", "colSds", "colVars", "rowMaxs", "rowSums2")

importFrom("signal", "sgolayfilt")

importFrom("ptw", "asysm")

